
@font-face{
    font-family: 'IranNastaliq';
    src: url('fonts/IranNastaliq.ttf') format('truetype');
    src: url('fonts/IranNastaliq_YasDL.com.ttf') format('truetype');
}

p{
    /* font-weight: bold; */
    /* font-weight: 200; */
    /* font-size: 40px;
    font-size: 10vw; */
    font: 20px arial;

}

.fars{
    direction: rtl;
    font-family: IranNastaliq;
}
